.Home-r2-container {
    padding: 125px 0px !important;
}

/* Bubble  */
.Home-r2-Bubble {
    width: 130px;
    height: 180px;
}

/* Para  */
.Home-r2-para-div{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.Home-r2-para {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    text-align: center;
    color: #000000;
}

.Home-r1-para-color {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.7em;
    text-align: center;
    color: #008cd0;

}

/* ---------------------Media-qurery------------------ */

/* 4K */
@media screen and (min-width:1441px) {

    .Home-r2-para {
        width: 1140px !important;
    }

    .Home-r2-Bubble {
        width: 250px;
        height: 300px;
    }
}

/* Tab view  */
@media screen and (max-width:992px) {

    /* Para  */
    .Home-r2-para {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .Home-r2-Bubble {
        width: 100px;
        height: 150px;
    }

    .Home-r1-para-color {
        font-size: 24px;

    }
    .Home-r2-container {
        padding: 0px !important;
    }

}

/* Small view  */
@media screen and (max-width:767px) {

    /* Para  */
    .Home-r2-para {
        font-size: 18px;
    }

    .Home-r1-para-color {
        font-size: 18px;

    }

    .Home-r2-Bubble {
        width: 60px;
        height: 80px;
    }
    .Home-r2-container {
        padding: 0px !important;
    }


}