.home-s6-container{
    padding-bottom: 50px;
}

/* Text */
.water-txt{
    font-size: 16px;
    text-transform: uppercase;
    color: #008cd0;
    letter-spacing: 1.5px;
    font-weight: 600;
    padding: 10px 0px !important;
    /* margin: 0px 50px !important; */
    font-family: "Poppins", sans-serif;
    word-break: keep-all !important;
}