/* over all container  */
.Sub-r1-container {
    position: relative;
    padding: 0px !important;
}

/* Background image  */
.Sub-r1-BG-img {
    width: 100%;
    height: 135vh;
}



/* Content container  */
.Sub-r1-row-container {
    padding: 100px 0px 0px 100px;
    position: absolute;
    top: 0;
    margin: 0px !important;
}



/* --------------------------left side ------------------------- */
.Sub-r1-small-container1 {
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Heading  */
.Sub-r1-heading-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Sub-r1-heading {
    color: #ffcb04;
    font-family: "Poppins", Sans-serif;
    font-size: 76px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.Sub-r1-heading-img {
    width: 100%;
    height: 100%;
}

/* para  */
.Sub-r1-para1 {
    text-align: left;
    color: #ffffff;
    font-family: "Maven Pro", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14.4px;
}

.Sub-r1-para2 {
    text-align: left;
    color: #ffffff;
    font-family: "Maven Pro", Sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 14.4px;
}

/* Button */
.Sub-r1-button {
    background-color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #008cd0;
    border-radius: 10px;
    padding: 15px 35px;
    text-decoration: none;
}

/* ---------------------------Center side ------------------------------- */
.Sub-r1-small-container2 {
    padding: 10px !important;
    display: flex;
    justify-content: center;
}

.Sub-r1-product-img {
    height: 500px;
    width: auto;
}

/* ---------------------------right side ------------------------------- */
.Sub-r1-small-container3 {
    padding: 0px !important;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* ------------------------media query------------------------ */

/* Tab view view  */
@media screen and (max-width:992px) {

    /* Content container  */
    .Sub-r1-row-container {
        padding: 50px 0px 0px 50px !important;
    }

    /* heading  */
    .Sub-r1-heading {
        font-size: 60px;
    }

    /* para  */
    .Sub-r1-para1 {
        font-size: 18px;
    }

    .Sub-r1-para2 {
        font-size: 18px;
    }

    /* ---------------------------Center side ------------------------------- */


    .Sub-r1-product-img {
        height: 400px !important;
        width: auto !important;
    }

    /* ---------------------------right side ------------------------------- */
    .Sub-r1-small-container3 {
        align-items: end;
    }

    /* Background image  */
    .Sub-r1-BG-img {
        width: 100%;
        height: 100%;
    }




}

/* Mobile view  */
@media screen and (max-width:767px) {

    /* Content container  */
    .Sub-r1-row-container {
        padding: 0px !important;
    }

    .Sub-r1-small-container1 {
        padding: 40px 30px 40px 30px !important;
    }

    /* heading  */
    .Sub-r1-heading {
        font-size: 54px;
    }

    /* para  */
    .Sub-r1-para1 {
        font-size: 18px;
        text-align: center;
    }

    .Sub-r1-para2 {
        font-size: 18px;
        text-align: center;
    }

    .Sub-r1-button-div {
        text-align: center;
    }

    /* ---------------------------Center side ------------------------------- */
    .Sub-r1-small-container2 {
        padding: 0px 0px 0px 30px !important;
    }

    /* .Sub-r1-product-img {
        height: 60vh !important;
        width: 35vw !important;
    } */

    /* ---------------------------right side ------------------------------- */
    .Sub-r1-small-container3 {
        align-items: start;
    }

    /* Background image  */
    .Sub-r1-BG-img {
        width: 100%;
        height: 145vh;
    }

}